@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Inter";
  }
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    min-height: 100vh;
    overflow-x: hidden;
    height: auto;
    background-color: rosybrown;
    background: rgb(33, 79, 139);
    background: radial-gradient(
      circle,
      rgba(33, 79, 139, 1) 0%,
      rgba(38, 88, 151, 1) 10%,
      rgba(60, 111, 177, 1) 42%,
      rgba(46, 135, 196, 1) 66%,
      rgba(76, 122, 181, 1) 95%
    );
    background-position: top left;
    background-size: cover;
  }
}

@layer components {
  .skeleton-glass-morphizm {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(0.5rem);
    text-align: start;
    color: white;
    transition-duration: 500ms;
    border-radius: 1rem;
    overflow: hidden;
  }
  .skeleton-white {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
